body {
  background-color: aquamarine;
}

ul {
  display: flex;
  justify-content:space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6e6c6c;
  height: 15vh;
}

li {
  float: left;
  color: white;
  font-size: 5vh;
  margin-top: 1.9vh;
  text-align: center;
  padding: 14px 16px;
}

li img {
  display: flex;
  height: 9vh;
}

li button {
  text-align: center;
  margin-top: 1.9vh;
  padding-top: 5px;
  padding-left: 15px;
  border-radius: 8px;
  font-size: 2vh;
  display: flex;
  height: 4vh;
  width: 10vh;
  border: 0;
  outline: 0;
  cursor: pointer;
}
li input {
  text-align: center;
  margin-top: 1.9vh;
  padding-top: 4px;
  border-radius: 8px;
  font-size: 2vh;
  display: flex;
  height: 3vh;
  width: 13vh;
  border: 0;
  outline: 0;
}

.music-render {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
}
.control-music {
  display: flex;
  flex-wrap: wrap;
  margin-left: 8%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.img-music {
  width: 31vh;
  border-radius: 8px;
}
